<%= render "layouts/errors", :object => @post %>

<div class="form-group">
  <%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :date %>
  <%= f.date_select :date %>

  <%= f.label :body %>

  <%= f.text_area :body, cols: 70, rows: 25 %>

  <%= f.submit :class => "btn btn-success" %>
  <% end %>
</div>
