<div class="post-header">
  <h3><%= @post.title %></h3>
  <h4>Written on: <%= @post.created_at %></h4>
</div>

<div class="post-body">
  <p><%= @post.body %></p>
</div>

<hr>

<div class="post-comments">
  <h3>Comments</h3>
    <% if @post.comments.any? %>
      <ul>
        <% @post.comments.each do |comment| %>
          <li><h7 class="comment-details">
            Posted by: <%= comment.name %> |
            At: <%= comment.created_at %> |
            <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
            <%= link_to "Delete", post_comment_path(@post, comment),
          :data => {:confirm => "Are you sure? There is no way to undo this.", :method => "delete"} %></h7>
            <div class="comment-content">
              <%= comment.content %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments on this post.</p>
    <% end %>
</div>

<hr>
  <h4>Add a comment:</h4>
  <%= render 'comments/form' %>
<hr>
<%= link_to 'Return to posts list', posts_path %> |

<%= link_to 'Edit this post', edit_post_path(@post) %> |

<%= link_to 'Delete this post', post_path(@post),
:data => {:confirm => 'Are you sure? There is no way to undo this', :method => 'delete' } %>
